@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
    color: rgb(var(--foreground-rgb));
    background-color: #f5ede9;
    /*
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));*/
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        /* Original size */
    }

    50% {
        transform: scale(1.5);
        /* 50% larger */
    }
}

.cursor {
    display: inline-block;
    width: 10px;
    /* Set the width of the circle */
    height: 10px;
    /* Set the height of the circle */
    background: #4c4243;
    /* Circle color */
    border-radius: 50%;
    /* Makes it circular */
    animation: pulse 1s infinite;
    /* Apply the pulse animation */
    vertical-align: middle;
    /* Vertically aligns with text */
}

/* 在 hover 时改变按钮内图标的颜色 */
.hover-icon:hover .fa-clipboard-question {
    color: #1D4ED8;
}

@layer utilities {
    .filter-white {
        filter: brightness(0) invert(1);
    }

    .filter-bright-white {
        filter: brightness(0) invert(1) brightness(1.2);
    }

    .filter-pink {
        filter: invert(73%) sepia(51%) saturate(5977%) hue-rotate(300deg) brightness(101%) contrast(101%);
    }

    .filter-dark-pink {
        filter: invert(45%) sepia(85%) saturate(7482%) hue-rotate(314deg) brightness(100%) contrast(101%);
    }
}